:root {
  /*--mainColor1: color(peru blackness(60%));*/
  --ColorBlack: #50514F;
  --colorRed: #F25F5C;
  --colorYellow: #FFE066;
  --colorBlue: #247BA0;
  --colorGreen: #70C1B3;
  --mainColor: #2980B9;
  --colorGray: #DFDFDF;
  --colorGreen2: #1DB998;
  --btn-gradient: #fd324e;
  --btn-gradient-start: color(red blackness(50%));
  --btn-gradient-end: color(blue lightness(+20%) hue(10%))
}

* {
  /*border: 1px solid red;*/
}

h1, h3, h2, h4, span {
  font-family: 'Oswald', sans-serif;
}

h1, h3, h2 {
  font-size: 3em;
}


/*h3{
  font-family: 'Lato', sans-serif;
}*/

h4 {
  font-family: 'Noto Serif', serif;
}

h1 {
  font-weight: 550;
  font-size: 4.5em;
}

small {
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
}

.WebHero {
  height: 70vh;
  background: url(../images/fondo-header.min.jpg) 50% 50%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-header {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20vh;
    text-align: center;
    text-transform: uppercase;
  }
  &-foto {
    height: 230px;
    width: 230px;
    background: url(../images/foto.min.jpg);
    background-position: 31%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    align-self: center;
    border: solid 8px var(--colorBlue);
    border-radius: 50%;
    position: absolute;
    bottom: -22%;
  }
}

.WebDetails {
  background-color: var(--colorGray);
  &-row {
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &-text {
    margin-bottom: 80px;
  }
  &-container {
    &-subtitle {
      display: block;
      margin-bottom: 30px;
    }
    &-title {
      margin-bottom: 30px;
    }
  }
}

.WebDetails-iconContainer {
  position: relative;
  &-h3 {
    padding-top: 40px;
  }
}

.WebDetails img {
  height: 100px;
}

.WebSkills {
  background: url(../images/fondo-header.min.jpg) 50% 50%;
  color: white;
  background-size: cover;
  &-fade {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  &-row {
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }
  &WebSkills-progress-bar {}
}

.WebSkills-row span, .WebSkills.progress, .WebSkills .col-sm-11 {
  padding: 0 0 15px 15px;
}

.col-sm-1 span {
  padding-left: 0;
}

.progress {
  margin: 10px 0;
}

.WebWork {
  margin-bottom: 60px;
  button {
    font-size: 2em;
    margin-bottom: 40px;
  }
  article {
    font-size: 1.6em;
  }
  article:nth-child(even) {
    font-size: 2em;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
  }
  span {
    display: block;
    margin-bottom: 20px;
  }
  &-row {
    padding-top: 60px;
    text-align: center;
    &-content {
      display: flex;
      justify-content: center;
    }
    &-content p {
      border-left: 1px solid black;
      padding-left: 20px;
      margin-top: 60px;
      padding-bottom: 20px;
    }
  }
  &-container {
    &-title {
      margin: 0;
      margin-bottom: 70px;
    }
    &-subtitle {
      display: block;
      margin-bottom: 20px;
    }
  }
}

.parte-abajo {
  margin-top: 160px;
}

.texto-prueba {
  padding-top: 50px;
}

.yearDuration {
  padding-bottom: 20px;
  border-bottom: 3px solid gray;
}

.fila2 {
  margin-top: 80px;
}

.filas2 {
  margin-top: 40px;
}


/*.WebWork p{
  border-left: 2px solid gray;
  padding: 0 20px;
}*/

.columnaTexto {
  border-left: 2px solid gray;
}


/*Large*/

@media (max-width: 1199px) {
  .btn-work {
    margin-top: 0;
  }
}


/*Medium*/

@media (max-width: 990px) {}


/*.columnaTexto{
  border:none;
}*/

@media (max-width: 1200px) {
  .btn-work {
    margin-top: 40px;
  }
  .columnaTexto {
    border-left: none;
  }
}


/*Small*/

@media (max-width: 768px) {
  .fila2 {
    margin-top: 40px;
  }
}


/*Extra-Samll*/

@media (max-width: 768px) {
  .WebHero-subtitle {
    margin-top: 30px;
  }
  .WebDetails-container h4 {
    margin-bottom: 40px;
  }
  .WebHero {
    height: 640px;
  }
  .col-sm-1 span {
    display: none;
  }
  .WebDetails-row {
    padding-bottom: 40px;
  }
  .WebSkills-row {
    padding-top: 20px;
  }
  .progress {
    margin: 10px 0;
  }
}
